<h1>sum of numbers:{{sum}}</h1>
<!-- <div class=".mycss-container">
<h1> demo of property bindings</h1>
 
<div *ngIf="false;else id_selector">
 
<input style = "color:green; margin-top: 40 px;margin-left: 100px;" [value] ='title'>
 
</div>
 
<ng-template #id_selector>
<input style = "color:green; margin-top: 40 px;margin-left: 100px;" [value] ='str'>
 
<button (click) = "onClick()">click me</button>
</ng-template>

<div *ngFor = "let x of family">
{{x}}
</div>
<div [ngSwitch]="'1'">
  <div *ngSwitchCase = "'1'"> one is displayed </div>
  <div *ngSwitchCase = "'2'"> two is displayed</div>
<div *ngSwitchDefault> defaultoption</div>
</div>


 </div>
<div>
  <label for="inputtwo">Input two: </label>
  <input type="number"(input)="onInputTwoChange($event)" id="input2">
</div>
<button (click)="addNumbers()">Add number</button>

<div>
  <label for="result">Result: </label>
  <input type="number"[value]="result" id="result">

</div> -->
<!-- </div> --> 
<app-jsonreader></app-jsonreader>
<app-rxjsdemo></app-rxjsdemo>
<app-login></app-login>
<app-user></app-user>